<?php

declare(strict_types=1);

$header = <<<'EOF'
This file is part of the PcdxParameterEncryptionBundle package.

(c) picodexter <https://picodexter.io/>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
EOF;

return \PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PHP70Migration' => true,
        '@PHP70Migration:risky' => true,
        '@Symfony' => true,
        '@Symfony:risky' => true,

        'array_syntax' => ['syntax' => 'short'],
        'combine_consecutive_unsets' => true,
        'general_phpdoc_annotation_remove' => [
            /*
             * use PHPUnit methods to set up expected exception instead of annotations
             */
            'expectedException',
            'expectedExceptionMessage',
            'expectedExceptionMessageRegExp',
        ],
        'header_comment' => ['header' => $header],
        'heredoc_to_nowdoc' => true,
        'list_syntax' => ['syntax' => 'long'],
        'no_multiline_whitespace_before_semicolons' => true,
        'no_short_echo_tag' => true,
        'no_unreachable_default_argument_value' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'ordered_class_elements' => true,
        'ordered_imports' => true,
        'php_unit_strict' => true,
        'phpdoc_add_missing_param_annotation' => true,
        'phpdoc_order' => true,
        'semicolon_after_instruction' => true,
        'strict_comparison' => true,
        'strict_param' => true,

        /*
         * override some Symfony rules
         */
        'binary_operator_spaces' => false,
        'no_unneeded_control_parentheses' => false,
        'phpdoc_align' => false,
        'phpdoc_inline_tag' => false,
    ])
    ->setFinder(
        \PhpCsFixer\Finder::create()
            ->in(__DIR__)
    );
